* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

@font-face {
    font-family: electronicFont;
    src        : url(../font/DS-DIGIT.TTF);
}

body {
    font-family    : Arial, Helvetica, sans-serif;
    margin         : 0;
    padding        : 0;
    /*  背景图定位 / 背景图尺寸  cover 完全铺满容器  contain 完整显示在容器内 */
    background     : url(../images/bg.jpg) no-repeat #000;
    background-size: 1520px auto;
    /* 行高是字体1.15倍 */
    line-height    : 1.15;
    min-width      : 1520px;
    max-width      : 1520px;
}

header {
    position       : relative;
    height         : 1.25rem;
    background     : url(../images/head_bg.png) no-repeat top center;
    background-size: 100% 100%;

    h1 {
        font-size  : 0.475rem;
        color      : #fff;
        text-align : center;
        line-height: 1rem;
    }

    .showTime {
        position   : absolute;
        top        : 0;
        right      : 0.375rem;
        line-height: 0.9375rem;
        font-size  : 0.25rem;
        color      : rgba(255, 255, 255, 0.7);
    }
}

// .mainbox {
//   min-width: 1024px;
//   max-width: 1920px;
//   padding: 0.125rem 0.125rem 0;
//   display: flex;

//   .column {
//     flex: 3;
//     margin: 0 0.125rem 0.1875rem;
//   }
// }

.panel {
    position     : relative;
    // width: 280px;
    height       : 250px;
    border       : 1px solid rgba(25, 186, 139, 0.17);
    background   : rgba(255, 255, 255, 0.04) url(../images/line.png);
    // padding   : 0 0.1875rem 0.5rem;
    margin       : 12px;

    &::before {
        position   : absolute;
        top        : 0;
        left       : 0;
        content    : "";
        width      : 10px;
        height     : 10px;
        border-top : 2px solid #02a6b5;
        border-left: 2px solid #02a6b5;
    }

    &::after {
        position    : absolute;
        top         : 0;
        right       : 0;
        content     : "";
        width       : 10px;
        height      : 10px;
        border-top  : 2px solid #02a6b5;
        border-right: 2px solid #02a6b5;
    }

    h2 {
        height      : 40px;
        line-height : 40px;
        text-align  : left;
        color       : #fff;
        font-size   : 16px;
        font-weight : 400;
        padding-left: 20px;
        margin      : 0;

        a {
            margin         : 0 0.1875rem;
            color          : #fff;
            text-decoration: underline;
        }
    }

    .chart {
        height             : 200px;
        // background-color: #fff;
        position           : relative;

        .loader {
            position : absolute;
            top      : 50%;
            left     : 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.panel-lg {
    height       : 510px;
    margin-bottom: 0;

    .chart {
        height: 470px;
    }
}