<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>图书分析系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}"/>
</head>

<body>
<header>
    <h1>图书分析系统</h1>
    <div class="showTime"></div>
    <script>
        var t = null;
        t = setTimeout(time, 1000); //开始运行
        function time() {
            clearTimeout(t); //清除定时器
            dt = new Date();
            var y = dt.getFullYear().toString().padStart(2, '0');
            var mt = (dt.getMonth() + 1).toString().padStart(2, '0');
            var day = dt.getDate().toString().padStart(2, '0');
            var h = dt.getHours().toString().padStart(2, '0'); //获取时
            var m = dt.getMinutes().toString().padStart(2, '0'); //获取分
            var s = dt.getSeconds().toString().padStart(2, '0'); //获取秒
            document.querySelector(".showTime").innerHTML = `${y}-${mt}-${day} ${h}:${m}:${s}`
            t = setTimeout(time, 1000); //设定定时器，循环运行
        }
    </script>
</header>
<div class="mainbox">
    <div class="container-xxl">
        <div class="row g-0">
            <div class="col-3">
                <div class="panel">
                    <h2>TOP10 图书分类</h2>
                    <div class="chart" id="top10BookCategories"></div>
                    <div class="panel-footer"></div>
                </div>
                <div class="panel">
                    <h2>各月出版数量</h2>
                    <div class="chart" id="everyMonthPublishNum"></div>
                    <div class="panel-footer"></div>
                </div>
                <div class="panel">
                    <h2>各月评论数量</h2>
                    <div class="chart" id="everyMonthCommentNum"></div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            <div class="col-6">
                <div class="row g-0">
                    <div class="col-12">
                        <div class="panel panel-lg">
                            <h2>图书评论 词云图</h2>
                            <div class="chart" id="wordCloud"></div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-6">
                        <div class="panel">
                            <h2>TOP10 出版社</h2>
                            <div class="chart" id="top10Publisher"></div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="panel">
                            <h2>中外作者占比</h2>
                            <div class="chart" id="proportionOfChineseAndForeignAuthors"></div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="panel">
                    <h2>每年作者出版数量动态变化</h2>
                    <div class="chart" id="dynamicNumberOfPublisher"></div>
                    <div class="panel-footer"></div>
                </div>
                <div class="panel">
                    <h2>情感分析 图书评价</h2>
                    <div class="chart" id="commentCategories"></div>
                    <div class="panel-footer"></div>
                </div>
                <div class="panel">
                    <h2>TOP10 作者出版总数</h2>
                    <div class="chart" id="top10Authors"></div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/flexible.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/echarts-wordcloud.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

<script>
    $(".chart").append('<div class="loader"><div class="ball-beat"><div></div><div></div><div></div></div></div>')
    window.addEventListener('mousewheel', function (event) {
        if (event.ctrlKey === true || event.metaKey) {
            event.preventDefault();
        }
    }, {passive: false});

    //firefox
    window.addEventListener('DOMMouseScroll', function (event) {
        if (event.ctrlKey === true || event.metaKey) {
            event.preventDefault();
        }
    }, {passive: false});
</script>

<!-- 数据 -->
<script src="{{ url_for('static', filename='js/data/top10BookCategories.js') }}"></script>
<script src="{{ url_for('static', filename='js/data/everyMonthPublishNum.js') }}"></script>
<script src="{{ url_for('static', filename='js/data/proportionOfChineseAndForeignAuthors.js') }}"></script>
<script src="{{ url_for('static', filename='js/data/top10Publisher.js') }}"></script>
<script src="{{ url_for('static', filename='js/data/everyMonthCommentNum.js') }}"></script>
<script src="{{ url_for('static', filename='js/data/top10Authors.js') }}"></script>
<script src="{{ url_for('static', filename='js/data/dynamicNumberOfPublisher.js') }}"></script>
<script src="{{ url_for('static', filename='js/data/commentCategories.js') }}"></script>
<script src="{{ url_for('static', filename='js/data/wordCloud.js') }}"></script>
</body>

</html>